.button {
  width: 226px;
  height: 56px;
  background: $complementary-color_royal-blue;
  border-radius: 64px;
  box-sizing: border-box;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all $hover-duration;
  &:focus {
    outline: none;
  }
  &:hover {
  color: $complementary-color_royal-blue;
  background-color: white;
  border: 1px solid $complementary-color_royal-blue;
  }

  &_white {
    background-color: white;
    color: $complementary-color_blue;
    transition: all $hover-duration;
    &:hover {
      background-color: $complementary-color_blue;
      color: white;
    }
  }
}
