.heading {
  &__with-pseudo {
    position: relative;
    left: 37px;
    color: $main-color;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: -37px;
      width: 24px;
      height: 24px;
      background: url("../images/before-heading_cyan.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &_white {
      color: white;
      &::before {
        background: url("../images/before-heading_white.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
