.header {
  display: flex;
  white-space: nowrap;
  font-weight: bold;
  align-items: center;

  &__logo {
    font-size: 32px;
    line-height: 1;
    padding-right: 143px;
  }

  &__hire-us {
    padding-left: 135px;
  }
}
