.slider {
  position: relative;

  &__img {
    width: 1146px;
    height: 640px;
    object-fit: cover;
    object-position: center;
  }

  &__buttons {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    width: 81px;
    height: 61px;
    background: url('../images/button-icon.svg');
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $complementary-color_yellow;
    border-radius: 0 50px 50px 0;
    &:hover {
      background-color: #FDD95B
    }

    &_right {
      transform: rotate(0deg) translate(-3px);
    }

    &_left {
      transform: rotate(180deg) translate(-2px);
    }
  }

  &__tagline {
    position: absolute;
    bottom: 86px;
    left: 98px;
    width: 264px;
  }

  &__heading {
    font-size: 12.6px;
    font-weight: 800;
    text-transform: uppercase;
    color: $main-color;
    letter-spacing: 2px;
  }

  &__text {
    font-size: 20px;
    font-weight: 900;
    line-height: 140%;
    color: white;
  }
}
