.testimonials {
  &__subtitle {
    width: 362px;
    @include heading-blue(32px, 900, 140%);
    margin-top: 19px;
    margin-bottom: 86px;
  }

  &__cards {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
  }

}
