.vision {
  &__section {
    text-align: center;
    width: 754px;
  }

  &__heading {
    padding-bottom: 57px;
    @include heading-blue(48px, 900, 1);
  }

  &__text {
    @include heading-blue(24px, 600, 1.5);
    padding-bottom: 55px;
  }

}
