.wrapper {
  // position: relative; // Вова говорил, чтобы не вылетали из потока?
  width: 1146px;
  margin: 0 auto;

  &__background_full_white {
    width: auto;
    background-color: white;
  }

  &__header {
    padding-top: 48px;
    display: flex;
    align-items: center;
  }

  &__intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__slider {

  }

  &__social {
    position: absolute;
    top: 50%;
    right: -64px;
    transform: translate(50%, 50%) rotate(90deg);
  }

  &__welcome {
    padding-top: 165px;
    padding-bottom: 160px;
  }

  &__what-to-do {
    text-align: center;
  }

  &__process {
    margin-top: 160px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 182px;
  }

  &__features {
  }
}
