// @mixin hover($_property, $_toValue) {
//   transition: #{$_property} 0.3s;
//   &:hover {
//     #{$_property}: $_toValue;
//   }
// }

@mixin heading-blue($_font-size, $_font-weight, $_line-height) {
  font-size: $_font-size;
  font-weight: $_font-weight;
  line-height: $_line-height;
  color: $complementary-color_blue;
}

@mixin background-polygon() {
  width: 144px;
  height: 56px;
}
